ul.list-group {
  min-height: 130px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;

}

.dropover {
  background-color:white;
}

.dropover-active {
  background-color: #343a40;
}

.bottom-trash {
  opacity: 0;
  color:white;
  font-size: 2.3rem;
  font-family: "Bebas Neue", san-serif;
  transform: translatedY(150px);
  transition: all .5s ease-in-out;
  background-color: #343a40;
}

.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color: #343a40;
}

